*.csv
*.txt
*.RDF
*.pkl
*.pickle
*.pth
*.RRF
*.zip
__pycache__/
datasets/
*.json
*.ipynb
*.pyc
save_code.sh
**/__pycache__/
our_benchmarks/models/
extrinsic_evaluation/logs/
extrinsic_evaluation/models/
extrinsic_evaluation/results/
intrinsic_evaluation/logs/
intrinsic_evaluation/our_benchmarks
intrinsic_evaluation/beam_benchmarks/
intrinsic_evaluation/archive/
intrinsic_evaluation/results/
pretrained_embeddings/dim_reduction.py
pretrained_embeddings/data/
pretrained_embeddings/logs/
our_embeddings/archive/
our_embeddings/logs/